<h1 class="page-header"> Book Review</h1>
<h3 class="tag-line">Welcome to the best book review site!</h3>

<hr>
{{display-favorite-books}}
<hr>

<div class="index-books-list">
  {{#each model as |book|}}
    <div class="index-each-book">
      {{book-tile book=book}}
    </div>
  {{/each}}
</div>
